body {
    background-color: lightgray;
	font-family: Helvetica, Arial, sans-serif;
}

table {
    color: black;
    text-align: left;
}
h3{
	color: blue;
}
#index{
	width:400px; 
	margin:auto;
}
img {
	height="100"
    border: 5px solid transparent;
    padding: 11px;
	margin:0;
}
.avatar
{
	text-align: left;
	top:40px;
	left:30px;
	width:150px;
	height="100"
}
p {
    font-family: verdana;
    font-size: 12px;
}

a{
  font-size:10px;
}
h1{ 
    text-align:center;
}
#cuerpo{
       background-color:#DDE6AC;
       border-style:solid;
       border-color:#000000;
       margin: 0 auto;
       width:0 auto;
       height:auto;

}
#header{
  background-color:#8B0000;
  color: white;
  overflower:hidden;
  text-align:left;
}
.cuerpo #header {
        position: relative;
        margin-left:5px;
        margin:5px 5px 10px 5px;

}
table {
   border-spacing:8px;
   width: 100%;
   
}
th, td {
   
   text-align:center;
   vertical-align:center;
 
   border-collapse: collapse;
   padding:0,3em;
}

